<div class="container">
  <div class="row m-4">
    <div class="card bio">
      <div class="card-body">
  <p class="card-title post-title"><%= post.title %>/p>
  <p class="card-text post-text"><%= post.text %></p>
<div class="post-info d-flex justify-content-end">
  <p class="m-2"> Comment: <%= post.comments_counter %> </p>
  <p class="m-2"> Likes: <%= post.likes_counter %> </p>
  <%= link_to user_post_path(post.author_id, post.id), method: :delete do %>
  <%if can? :destroy, post%>
    <button class="btn btn-primary post-btn" >Delete</button>
  <%end%>
  <%end%>
</div>
</div>
</div>
</div>
</div>