<%= render partial: "users/user_card", object: @user, as: 'user' %>
<% @posts.each do |post| %>
<a href="/users/<%= post.author_id %>/posts/<%= post.id %>" ><%= render partial: "post_card", object: post, as: 'post' %></a>
<% post.comments.each do |comment| %>
<%= render partial: "comment_card", object: comment, as: 'comment' %>
<% end %>
<% end %>
<div class="container">
<div class="row">
<div class="col text-center">
<button class="btn btn-primary"> Pagination </button>
</div>
</div>
</div>